<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Users</title>
</head>
<body>

<div th:each="user : ${usersAtr}" >
    <span th:text="'Id - ' + ${user.id}  + '| Name - ' + ${user.name}"></span>
    <a th:href="@{/tasks/from-user/(userId=${user.id})}">Show all tasks</a>
<!--    <form th:action="@{/tasks/from-user}" >-->
<!--        <button type="submit" th:value="${user.id}" th:name="userId">Show all tasks</button>-->
<!--    </form>-->
</div>

<form th:action="@{/users/new}" method="get">
    <input type="submit" value="Add new">
</form>

</body>
</html>
