<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Tasks</title>
</head>
<body>
<div th:each="task : ${tasksAtr}">
    <span th:text="
                 'Id - '
                 + ${task.id}
                 + '| Theme - '
                 + ${task.theme}
                 + '| Project - '
                 + ${task.project.name}
                 + '| Type - '
                 + ${task.type}
                 + '| Priority - '
                 + ${task.priority}
                 + '| Executor - '
                 + ${task.executor.name}
                 + '| Description - '
                 + ${task.description}"></span>
    <form th:action="@{/tasks/update}" >
        <button type="submit" th:value="${task.id}" th:name="taskId">Update</button>
    </form>
    <form th:action="@{/tasks/delete}" >
        <input type="hidden" th:name="fromAtr" th:value="${fromAtr}">
        <input type="hidden" th:name="fromId" th:value="${fromId}">
        <button type="submit" th:value="${task.id}" th:name="taskId">Delete</button>
    </form>
</div>
</body>
</html>