<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose file</title>
</head>
<body>
<h4>Save changes to file.</h4>
<p>Let's choose where to save all changes.</p>
<form th:action="@{/file/saveFile/save}" th:object="${resourceDto}" method="post">
    <input type="text" th:field="*{resource}"/>
    <input type="submit" value="Load"/>
</form>

</body>
</html>